.a-cascader
// .ant-cascader-picker 
 {
  width: 247px;
  height: 33px;
  background: rgb(49 212 213 / 20%) !important;
  color: #fff;
  border: none;
  border-bottom: solid 2px #31d4d5;

  .ant-cascader-input.ant-input,
  .ant-cascader-picker-label {
    font-size: 20px;
  }

  input::input-placeholder {
    color: #fff;
  }
}

.a-cascader-menus {
  background: #000;
  color: #fff;

  .ant-cascader-menu-item {
    font-size: 14px;
    color: #fff;
    // opacity: 1 !important;

    &:hover {
      background: #000;
    }
  }
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: #111b26;
}
